.idea/
*.pyc
__pycache__
*.swp
.nfs*
*.sqlite
*.touch

tmp/
.snakemake
sge_output
_*_venv*/
doc/*.ps
doc/*.pdf
reports/*.pdf
/toolbox*/wheels/

# This is volatile and used for tinkering/testing
/environ.sh*
